frameworkCodeSamples/Forks/analisandoOsForks/repositorios/
frameworkCodeSamples/Forks/analisandoOsForksComMaisDe10CommitsAhead/repositorios/
frameworkCodeSamples/Versoes/buscaVersaoDoAndroid/repositorios/
frameworkCodeSamples/Forks/analiseDasMensagensDosCommits/android/repositorios/
frameworkCodeSamples/Forks/analiseDasMensagensDosCommits/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasMensagensDosCommits/android/repositorios/
frameworkCodeSamples/Samples/analiseDasMensagensDosCommits/spring/repositorios/
frameworkCodeSamples/Samples/analiseDoHistoricoDeCommits/android/repositorios/
frameworkCodeSamples/Samples/analiseDoUltimoCommit/android/repositorios/
frameworkCodeSamples/Samples/analiseDoUltimoCommit/spring/repositorios/
frameworkCodeSamples/Samples/analiseDoHistoricoDeCommits/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportDoFramework/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportDoFrameworkDistintos/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportDoFrameworkDistintos/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportDoFramework/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportTotais/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportTotaisDistintos/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportTotaisDistintos/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoes/analiseDeImportTotais/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFramework/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFrameworkDistintos/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFrameworkDistintos/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFramework/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotais/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotaisDistintos/android/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotaisDistintos/spring/repositorios/
frameworkCodeSamples/Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotais/spring/repositorios/
frameworkCodeSamples/Versoes/buscarOHistoricoDeVersoesDeSpringSamples
frameworkCodeSamples/Samples/analiseDoEstadoAtualDosSamples/android/repositorios/
frameworkCodeSamples/Samples/analiseDoEstadoAtualDosSamples/spring/repositorios/
