# Object file
*.o

# Ada Library Information
*.ali

Forks/analisandoOsForks/repositorios/
Forks/analisandoOsForksComMaisDe10CommitsAhead/repositorios/
Versoes/buscaVersaoDoAndroid/repositorios/
Forks/analiseDasMensagensDosCommits/android/repositorios/
Forks/analiseDasMensagensDosCommits/spring/repositorios/
Samples/analiseDasMensagensDosCommits/android/repositorios/
Samples/analiseDasMensagensDosCommits/spring/repositorios/
Samples/analiseDoHistoricoDeCommits/android/repositorios/
Samples/analiseDoUltimoCommit/android/repositorios/
Samples/analiseDoUltimoCommit/spring/repositorios/
Samples/analiseDoHistoricoDeCommits/spring/repositorios/
Samples/analiseDasImportacoes/analiseDeImportDoFramework/android/repositorios/
Samples/analiseDasImportacoes/analiseDeImportDoFrameworkDistintos/android/repositorios/
Samples/analiseDasImportacoes/analiseDeImportDoFrameworkDistintos/spring/repositorios/
Samples/analiseDasImportacoes/analiseDeImportDoFramework/spring/repositorios/
Samples/analiseDasImportacoes/analiseDeImportTotais/android/repositorios/
Samples/analiseDasImportacoes/analiseDeImportTotaisDistintos/android/repositorios/
Samples/analiseDasImportacoes/analiseDeImportTotaisDistintos/spring/repositorios/
Samples/analiseDasImportacoes/analiseDeImportTotais/spring/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFramework/android/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFrameworkDistintos/android/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFrameworkDistintos/spring/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportDoFramework/spring/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotais/android/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotaisDistintos/android/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotaisDistintos/spring/repositorios/
Samples/analiseDasImportacoesDividindoPeloNumeroDeArquivosJava/analiseDeImportTotais/spring/repositorios/
